---
layout: page
tagline:
---

<!-- PROMO SECTION -->

<section>
  <article>
      <figure class="promo">
          <a href="/personal/2014/07/12/least-expecting.html">
          <img src="/assets/media/least-expecting.jpg">
          <figcaption>Least Expecting</figcaption>
          </a>
      </figure>
      <figure class="promo">
          <a href="/personal/2014/05/22/heatwave.html">
          <img src="/assets/media/heatwave.jpg">
          <figcaption>Heatwave</figcaption>
          </a>
      </figure> 
    <div class="clearfix"></div>
  </article>
</section>

<!-- ARCHIVE SECTION -->

<section class="listing">
<h1>Archive</h1>
  <div class="col-sm-4">
    <h3>Communications</h3>
    <ul>
      <li>
        <h4><a href=""></a></h4>
        <p></p>
      </li>
    </ul>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <h3>Articles</h3>
    <ul>
      <li>
        <h4><a href=""></a></h4>
        <p></p>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-4">
    <h3>Fiction</h3>
    <ul>
      <li>
        <h4><a href=""></a></h4>
        <p></p>
      </li>
    </ul>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <h3>Personal</h3>
    <ul>
      <li>
        <h4><a href="https://madeleinegermaine.github.io/personal/2014/07/12/least-expecting.html">Least Expecting</a></h4>
        <p>Family, memory, mythology, violence.</p>
      </li>
      <li>
        <h4><a href="https://madeleinegermaine.github.io/personal/2014/05/22/heatwave.html">Heatwave</a></h4>
        <p>Photobook of NYC, Brooklyn, Bedstuy and the Rockaways. Summer love. Expired slide film.</p>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  
  {% for post in paginator.posts %}

  <article class="home">
    <header>
      <h2>
        <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <!--  <span class="post-date">
        {% assign d = post.date | date: "%d" | plus:'0' %}
        {{ post.date | date: "%B" }}
        {% case d %}
        {% when 1 or 21 or 31 %}{{ d }}st,
        {% when 2 or 22 %}{{ d }}nd,
        {% when 3 or 23 %}{{ d }}rd,
        {% else %}{{ d }}th,
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </span>-->
    </header>

    <div>
      {% if post.fullview %}
      {{ post.content }}
      {% else %}
      {% if post.shortinfo %}
      {{ post.shortinfo }}
      {% elsif post.description %}
      {{ post.description }}
      {% else %}
      {{ post.excerpt }}
      {% endif %}
      {% endif %}
    </div>

  </article>
{% endfor %}
  
</section>
