<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/media/madeleine.jpg" class="img-circle" />
	</a>
	<h1 class="title">
        <a href="{{ site.BASE_PATH }}/">Madeleine Germaine</a>
    </h1>
    {% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}
</header>

<nav class="top-level" role="navigation">
  <ul>
    <li><a href="{{ site.BASE_PATH}}/">Home</a></li>
			<li><a href="{{ site.BASE_PATH }}/about.html">About</a></li>
			<li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}">Categories</a></li>
			<li class="divider"></li>
  </ul>
</nav>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled">
		{% if site.author.github %}
		<li>
			<a  href="https://github.com/{{ site.author.github }}">
				Github
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a href="https://twitter.com/{{ site.author.twitter }}">
				Twitter
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a href="mailto:{{ site.author.email }}">
				Email
			</a>
		</li>
		{% endif %}
		{% if site.author.pinterest %}
		<li> href="https://pinterest.com/{{ site.author.pinterest }}">
				pintrest
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a href="https://linkedin.com/in/{{ site.author.linkedin }}">
		    linkedin
			</a>
		</li>
		{% endif %}
		<li>
			<a href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				RSS
			</a>
		</li>
	</ul>
</div>
<! -- sidebar.html end -->
